@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "Vin Sans Pro";
    src: url("/fonts/vin_sans/VinSansPro-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/static/Montserrat-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Playfair";
    src: url("/fonts/playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}
/*MODAL*/

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.close div {
    position: absolute;
    height: 1.5rem;
    width: 3px;
    background: rgb(255, 145, 1);
    border-radius: 10px;
    right: 50%;
    left: 50%;
}

.close div:first-child {
    transform: rotate(45deg);
}

.close div:last-child {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .modal-container {
        width: 100%;
    }
}
/*MODAL*/
/*missing alt attribute*/
img:not([alt]){
    outline: 5px dashed red;
    outline-offset: 5px;
}

/*empty alt attribute*/
img[alt=""]:not([role="none presentation"]):not([role="presentation"]){
    outline: 5px solid blue;
    outline-offset: 15px;
}
